@import './custom.scss';

* {
    font-family: 'Quicksand', sans-serif;
}

html {
    font-size: 14px;
}

p.app-error-message {
    color: $dangerColor;
    margin-bottom: 0;
}

.app-loading-layer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    opacity: 0.5;
    z-index: 99999;
}

.app-loading {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -20px;
    margin-left: -20px;
    border-radius: 10px;
    background-color: $primaryColor;
    color: $primaryColor;
    animation: dotElastic 1s infinite linear;
    z-index: 99999;
}

.app-loading::before,
.app-loading::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
}

.app-loading::before {
    left: -25px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: $primaryColor;
    color: $primaryColor;
    animation: dotElasticBefore 1s infinite linear;
}

.app-loading::after {
    left: 25px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: $primaryColor;
    color: $primaryColor;
    animation: dotElasticAfter 1s infinite linear;
}

@keyframes dotElasticBefore {
    0% {
        transform: scale(1, 1);
    }

    25% {
        transform: scale(1, 1.5);
    }

    50% {
        transform: scale(1, 0.67);
    }

    75% {
        transform: scale(1, 1);
    }

    100% {
        transform: scale(1, 1);
    }
}

@keyframes dotElastic {
    0% {
        transform: scale(1, 1);
    }

    25% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1, 1.5);
    }

    75% {
        transform: scale(1, 1);
    }

    100% {
        transform: scale(1, 1);
    }
}

@keyframes dotElasticAfter {
    0% {
        transform: scale(1, 1);
    }

    25% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1, 0.67);
    }

    75% {
        transform: scale(1, 1.5);
    }

    100% {
        transform: scale(1, 1);
    }
}

.total-text {
    font-size: 1.1rem;
    display: flex;
    line-height: 1.2rem;

    &__num {
        font-size: 1.2rem;
        margin-left: 5px;
        font-weight: bold;
    }
}

.form-control__tail-icon {
    background: transparent;
    border: 1px solid #ced4da !important;
    border-left: none !important;

    :hover {
        color: $primaryColor;
    }
}

.app-table {
    tr:hover {
        background-color: rgba($primaryColor, .3);
    }
}

.color-primary {
    color: $primaryColor !important;
}

.overflow-x-auto {
    overflow-x: auto !important;
}

.cursor-pointer {
    cursor: pointer;
}

label.required::after {
    content: "*";
    color: $dangerColor;
}

img.square-image {
    width: 100px;
    height: 100px;
}

.tab-radio {
    display: flex;
    cursor: pointer;
}

.tab-radio>.tab-radio-input {
    width: 0;
    height: 0;
    margin: 0;
    display: none;
}

.tab-radio>.tab-radio-box {
    padding: 0.1rem 0.5rem;
    width: 100%;
    text-align: center;
    transition: 0.5s;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    font-weight: normal;
    color: #00000025;
}

.tab-radio>.tab-radio-input:checked+.tab-radio-box {
    border-color: $primaryColor;
    color: $primaryColor;
}

.status-tag {
    border-radius: 12px;
    display: flex;
    text-wrap: nowrap;
    align-items: center;
    justify-content: center;
    padding: 0.25rem 0.5rem;

    .dot {
        width: 8px;
        height: 8px;
        border-radius: 4px;
        margin-right: 0.5rem;
    }
}

.status-tag.danger {
    background-color: #FEE2E2;
    color: #7F1D1D;

    .dot {
        background-color: #EF4444;
    }
}

.status-tag.warning {
    background-color: #FEF9C3;
    color: #713F12;

    .dot {
        background-color: #FACC15;
    }
}

.status-tag.success {
    background-color: #DCFCE7;
    color: #14532D;

    .dot {
        background-color: #22C55E;
    }
}

ul.nav.nav-tabs.nav-tabs-underline {
    border: none;

    .nav-item {
        .nav-link {
            padding-left: 3rem;
            padding-right: 3rem;
            text-align: center;
            color: #00000025;
            font-weight: 600;
            border: none;
            font-size: 1.1rem;
        }

        .nav-link.active {
            border-bottom: 2px solid $primaryColor;
            color: $primaryColor;
        }
    }
}

.linear-progress-bar .progress-bar {
    background: linear-gradient(269.49deg, #F69063 0%, #FF008C 100%);
}

.modal-header {
    .modal-header-left-button {
        position: absolute;
        top: 0;
        left: 0;
    }

    .modal-header-right-button {
        position: absolute;
        top: 0;
        right: 0;
    }
}
