$primaryColor: #ad006c;
$dangerColor: #ad000b;
$tertiaryColor: #9880ff;
$grayColor: #5a5c69;
$brightPrimaryColor: #d82d8b;

.btn-primary {
    background-color: $primaryColor !important;
    border-color: $primaryColor !important;
}

.bg-primary {
    background-color: $primaryColor !important;
}

.text-danger {
    color: $dangerColor !important;
}

.table td,
.table th {
    vertical-align: middle;
}

.custom-switch.custom-switch-on-primary .custom-control-input:checked~.custom-control-label::before {
    background-color: $primaryColor;
    border-color: $primaryColor;
}

.form-check-input {
    width: 1.1rem;
    height: 1.1rem;
}

.form-check-input:checked {
    background-color: $brightPrimaryColor;
    border: $brightPrimaryColor;
}

.page-item.active .page-link {
    background-color: $primaryColor;
    color: white;
}

.page-item .page-link {
    background-color: white;
    color: $primaryColor;
}

.text-primary {
    color: $primaryColor !important;
}

.text-bright-primary {
    color: $brightPrimaryColor !important;
}

ngb-pagination .pagination {
    margin-bottom: 0;
}

.brand-image {
    height: 130px;
    width: auto;
}

.sidebar-collapse .brand-image {
    height: 45px !important;
}

.custom-control-input:checked~.custom-control-label::before {
    border-color: $primaryColor;
    background-color: $primaryColor;
}

.btn-danger {
    background-color: $dangerColor !important;
}

.border-danger {
    border-color: $dangerColor !important;
}

ng-select.border-danger div {
    border-color: $dangerColor !important;
}

.btn-gradient-primary {
    background: linear-gradient(90deg, $brightPrimaryColor, #F69063) !important;
    color: white !important;
    border: none !important;
    box-shadow: 0 15px 20px rgba(216, 45, 139, 0.3);
    transition: box-shadow 0.3s ease-in-out;

    :hover {
        background: linear-gradient(90deg, $brightPrimaryColor, #F69063) !important;
        box-shadow: 0 15px 20px rgba(216, 45, 139, 0.5);
    }
}

.carousel-item-next:not(.carousel-item-left),
.active.carousel-item-right {
    -webkit-transform: unset !important;
    transform: unset !important;
}

.carousel-item-prev:not(.carousel-item-right),
.active.carousel-item-left {
    -webkit-transform: unset !important;
    transform: unset !important;
}
