$primaryColor: #d82d8b;
$dangerColor: #ad000b;
$tertiaryColor: #9880ff;
$grayColor: #EAECF0;
$darkGrayColor: #dee2e6;
$warningColor: #FFC145;

.btn-primary {
    background-color: $primaryColor !important;
    border-color: $primaryColor !important;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: $primaryColor !important;
    border-color: $primaryColor !important;
}

.btn-outline-primary {
    color: $primaryColor !important;
    border-color: $primaryColor !important;

}

.btn-outline-primary:hover,
.btn-outline-primary:focus {
    background-color: $primaryColor !important;
    color: white !important;
}

.btn-gray {
    background-color: $grayColor;
}

.bg-primary {
    background-color: $primaryColor !important;
}

.text-danger {
    color: $dangerColor !important;
}

.table td,
.table th {
    vertical-align: middle;
}

.custom-switch.custom-switch-on-primary .custom-control-input:checked~.custom-control-label::before {
    background-color: $primaryColor;
    border-color: $primaryColor;
}

.form-check-input {
    width: 1.1rem;
    height: 1.1rem;
}

.form-check-input:checked {
    background-color: $primaryColor;
    border: $primaryColor;
}

.page-item.active .page-link {
    background-color: $primaryColor;
    border-color: $primaryColor;
    color: white;
}

.page-item .page-link {
    background-color: white;
    color: $primaryColor;
}

.text-primary {
    color: $primaryColor !important;
}

a.text-primary:focus,
a.text-primary:hover {
    color: $primaryColor !important;
}

ngb-pagination .pagination {
    margin-bottom: 0;
}

.custom-control-input:checked~.custom-control-label::before {
    border-color: $primaryColor;
    background-color: $primaryColor;
}

.btn-danger {
    background-color: $dangerColor !important;
}

.border-danger {
    border-color: $dangerColor !important;
}

ng-select.border-danger div {
    border-color: $dangerColor !important;
}

.btn-gradient-primary {
    background: linear-gradient(90deg, $primaryColor, #F69063) !important;
    color: white !important;
    border: none !important;
    box-shadow: 0 15px 20px rgba(216, 45, 139, 0.3);
    transition: box-shadow 0.3s ease-in-out;

    :hover {
        background: linear-gradient(90deg, $primaryColor, #F69063) !important;
        box-shadow: 0 15px 20px rgba(216, 45, 139, 0.5);
    }
}

.carousel-item-next:not(.carousel-item-left),
.active.carousel-item-right {
    -webkit-transform: unset !important;
    transform: unset !important;
}

.carousel-item-prev:not(.carousel-item-right),
.active.carousel-item-left {
    -webkit-transform: unset !important;
    transform: unset !important;
}

.sidebar-collapse .brand-name {
    display: none !important;
}

.content-header h1 {
    font-size: 2.2rem;
}

.btn.btn-common {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    border-radius: 37px;
}

.btn.btn-shadow.btn-warning {
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.1) !important;
}

.btn.btn-shadow.btn-gray {
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.1) !important;
}

.btn.btn-shadow.btn-white {
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.1) !important;
}

.btn.btn-shadow.btn-primary {
    box-shadow: 0px 0px 15px 2px rgba(216, 45, 139, 0.3) !important;
}

.btn.btn-create-new {
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.2) !important;
    background-color: white;
    font-weight: 600;
    padding: 0.6rem;
    border-radius: 8px;

    .icon {
        color: $primaryColor;
        background-color: white;
        margin-right: 0.5rem;
        box-shadow: 0px 0px 15px 2px rgba(216, 45, 139, 0.3) !important;
    }
}

.card-border-gray {
    border-color: $grayColor !important;
}

.btn-border-dark-gray {
    border: 1px solid $darkGrayColor !important;
}

table.table-header-border-none thead tr th {
    border-top: none !important;
    border-bottom: none !important;
}

table.table-border-none tr,
td {
    border: none !important;
}

table.table-header-font-weight-normal thead tr th {
    font-weight: normal;
}

table input.cell-checkbox {
    height: 1rem;
    width: auto;
    cursor: pointer;
}

.icheck-primary>input:first-child:checked+input[type=hidden]+label::before,
.icheck-primary>input:first-child:checked+label::before {
    background-color: $primaryColor !important;
    border-color: $primaryColor !important;
}

.modal-dialog {
    overflow-y: initial !important
}

.modal-header,
.modal-footer {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.modal-content {
    border-radius: 38px !important;
}

.dropdown-toggle.dropdown-toggle-no-arrow::after {
    display: none;
}

.dropdown-menu {
    border-radius: 17px;
}

.a-fw-100 {
    font-weight: 100;
}

.a-fw-200 {
    font-weight: 200;
}

.a-fw-300 {
    font-weight: 300;
}

.a-fw-400 {
    font-weight: 400;
}

.a-fw-500 {
    font-weight: 500;
}

.a-fw-600 {
    font-weight: 600;
}

.a-fw-700 {
    font-weight: 700;
}

.a-fw-800 {
    font-weight: 800;
}

.a-fw-900 {
    font-weight: 900;
}

.box-shadow-none {
    box-shadow: none !important;
}

.timeline.primary::before {
    background-color: $primaryColor !important;
}

.dropdown-item {

    &.active,
    &:active {
        background-color: $primaryColor;
    }
}
