.a-w-10 {
    width: 10px !important;
    min-width: 10px !important;
    max-width: 10px !important;
}

.a-w-20 {
    width: 20px !important;
    min-width: 20px !important;
    max-width: 20px !important;
}

.a-w-30 {
    width: 30px !important;
    min-width: 30px !important;
    max-width: 30px !important;
}

.a-w-40 {
    width: 40px !important;
    min-width: 40px !important;
    max-width: 40px !important;
}

.a-w-50 {
    width: 50px !important;
    min-width: 50px !important;
    max-width: 50px !important;
}

.a-w-60 {
    width: 60px;
    min-width: 60px;
    max-width: 60px !important;
}

.a-w-70 {
    width: 70px;
    min-width: 70px;
    max-width: 70px !important;
}

.a-w-80 {
    width: 80px;
    min-width: 80px;
    max-width: 80px !important;
}

.a-w-90 {
    width: 90px;
    min-width: 90px;
    max-width: 90px !important;
}

.a-w-100 {
    width: 100px;
    min-width: 100px;
    max-width: 100px !important;
}

.a-w-110 {
    width: 110px;
    min-width: 110px;
    max-width: 110px !important;
}

.a-w-120 {
    width: 120px;
    min-width: 120px;
    max-width: 120px !important;
}

.a-w-130 {
    width: 130px;
    min-width: 130px;
    max-width: 130px !important;
}

.a-w-140 {
    width: 140px;
    min-width: 140px;
    max-width: 140px !important;
}

.a-w-150 {
    width: 150px;
    min-width: 150px;
    max-width: 150px !important;
}

.a-w-160 {
    width: 160px;
    min-width: 160px;
    max-width: 160px !important;
}

.a-w-170 {
    width: 170px;
    min-width: 170px;
    max-width: 170px !important;
}

.a-w-180 {
    width: 180px;
    min-width: 180px;
    max-width: 180px !important;
}

.a-w-190 {
    width: 190px;
    min-width: 190px;
    max-width: 190px !important;
}

.a-w-200 {
    width: 200px;
    min-width: 200px;
    max-width: 200px !important;
}

.a-w-210 {
    width: 210px;
    min-width: 210px;
    max-width: 210px !important;
}

.a-w-220 {
    width: 220px;
    min-width: 220px;
    max-width: 220px !important;
}

.a-w-230 {
    width: 230px;
    min-width: 230px;
    max-width: 230px !important;
}

.a-w-240 {
    width: 240px;
    min-width: 240px;
    max-width: 240px !important;
}

.a-w-250 {
    width: 250px;
    min-width: 250px;
    max-width: 250px !important;
}

.a-w-260 {
    width: 260px;
    min-width: 260px;
    max-width: 260px !important;
}

.a-w-270 {
    width: 270px;
    min-width: 270px;
    max-width: 270px !important;
}

.a-w-280 {
    width: 280px;
    min-width: 280px;
    max-width: 280px !important;
}

.a-w-290 {
    width: 290px;
    min-width: 290px;
    max-width: 290px !important;
}

.a-w-300 {
    width: 300px;
    min-width: 300px;
    max-width: 300px !important;
}

.a-w-310 {
    width: 310px;
    min-width: 310px;
    max-width: 310px !important;
}

.a-w-320 {
    width: 320px;
    min-width: 320px;
    max-width: 320px !important;
}

.a-w-330 {
    width: 330px;
    min-width: 330px;
    max-width: 330px !important;
}

.a-w-340 {
    width: 340px;
    min-width: 340px;
    max-width: 340px !important;
}

.a-w-350 {
    width: 350px;
    min-width: 350px;
    max-width: 350px !important;
}

.a-w-360 {
    width: 360px;
    min-width: 360px;
    max-width: 360px !important;
}

.a-w-370 {
    width: 370px;
    min-width: 370px;
    max-width: 370px !important;
}

.a-w-380 {
    width: 380px;
    min-width: 380px;
    max-width: 380px !important;
}

.a-w-390 {
    width: 390px;
    min-width: 390px;
    max-width: 390px !important;
}

.a-w-400 {
    width: 400px;
    min-width: 400px;
    max-width: 400px !important;
}

.a-w-410 {
    width: 410px;
    min-width: 410px;
    max-width: 410px !important;
}

.a-w-420 {
    width: 420px;
    min-width: 420px;
    max-width: 420px !important;
}

.a-w-430 {
    width: 430px;
    min-width: 430px;
    max-width: 430px !important;
}

.a-w-440 {
    width: 440px;
    min-width: 440px;
    max-width: 440px !important;
}

.a-w-450 {
    width: 450px;
    min-width: 450px;
    max-width: 450px !important;
}

.a-w-460 {
    width: 460px;
    min-width: 460px;
    max-width: 460px !important;
}

.a-w-470 {
    width: 470px;
    min-width: 470px;
    max-width: 470px !important;
}

.a-w-480 {
    width: 480px;
    min-width: 480px;
    max-width: 480px !important;
}

.a-w-490 {
    width: 490px;
    min-width: 490px;
    max-width: 490px !important;
}

.a-w-500 {
    width: 500px;
    min-width: 500px;
    max-width: 500px !important;
}

.a-w-550 {
    width: 550px;
    min-width: 550px;
    max-width: 550px !important;
}

.a-w-600 {
    width: 600px;
    min-width: 600px;
    max-width: 600px !important;
}

.a-mw-10 {
    min-width: 10px;
}

.a-mw-20 {
    min-width: 20px;
}

.a-mw-30 {
    min-width: 30px;
}

.a-mw-40 {
    min-width: 40px;
}

.a-mw-50 {
    min-width: 50px;
}

.a-mw-60 {
    min-width: 60px;
}

.a-mw-70 {
    min-width: 70px;
}

.a-mw-80 {
    min-width: 80px;
}

.a-mw-90 {
    min-width: 90px;
}

.a-mw-100 {
    min-width: 100px;
}

.a-mw-110 {
    min-width: 110px;
}

.a-mw-120 {
    min-width: 120px;
}

.a-mw-130 {
    min-width: 130px;
}

.a-mw-140 {
    min-width: 140px;
}

.a-mw-150 {
    min-width: 150px;
}

.a-mw-160 {
    min-width: 160px;
}

.a-mw-170 {
    min-width: 170px;
}

.a-mw-180 {
    min-width: 180px;
}

.a-mw-190 {
    min-width: 190px;
}

.a-mw-200 {
    min-width: 200px;
}

.a-mw-210 {
    min-width: 210px;
}

.a-mw-220 {
    min-width: 220px;
}

.a-mw-230 {
    min-width: 230px;
}

.a-mw-240 {
    min-width: 240px;
}

.a-mw-250 {
    min-width: 250px;
}

.a-mw-260 {
    min-width: 260px;
}

.a-mw-270 {
    min-width: 270px;
}

.a-mw-280 {
    min-width: 280px;
}

.a-mw-290 {
    min-width: 290px;
}

.a-mw-300 {
    min-width: 300px;
}

.a-mw-310 {
    min-width: 310px;
}

.a-mw-320 {
    min-width: 320px;
}

.a-mw-330 {
    min-width: 330px;
}

.a-mw-340 {
    min-width: 340px;
}

.a-mw-350 {
    min-width: 350px;
}

.a-mw-360 {
    min-width: 360px;
}

.a-mw-370 {
    min-width: 370px;
}

.a-mw-380 {
    min-width: 380px;
}

.a-mw-390 {
    min-width: 390px;
}

.a-mw-400 {
    min-width: 400px;
}

.a-mw-410 {
    min-width: 410px;
}

.a-mw-420 {
    min-width: 420px;
}

.a-mw-430 {
    min-width: 430px;
}

.a-mw-440 {
    min-width: 440px;
}

.a-mw-500 {
    min-width: 500px;
}

.a-mw-510 {
    min-width: 510px;
}

.a-mw-520 {
    min-width: 520px;
}

.a-mw-530 {
    min-width: 530px;
}

.a-mw-540 {
    min-width: 540px;
}

.a-mw-550 {
    min-width: 550px;
}

.a-mw-560 {
    min-width: 560px;
}

.a-mw-570 {
    min-width: 570px;
}

.a-mw-580 {
    min-width: 580px;
}

.a-mw-590 {
    min-width: 590px;
}

.a-mw-600 {
    min-width: 600px;
}

.a-maxw-50 {
    max-width: 50px;
}

.a-maxw-60 {
    max-width: 60px;
}

.a-maxw-70 {
    max-width: 70px;
}

.a-maxw-80 {
    max-width: 80px;
}

.a-maxw-90 {
    max-width: 90px;
}

.a-maxw-100 {
    max-width: 100px;
}

.a-maxw-110 {
    max-width: 110px;
}

.a-maxw-120 {
    max-width: 120px;
}

.a-maxw-130 {
    max-width: 130px;
}

.a-maxw-140 {
    max-width: 140px;
}

.a-maxw-150 {
    max-width: 150px;
}

.a-maxw-160 {
    max-width: 160px;
}

.a-maxw-170 {
    max-width: 170px;
}

.a-maxw-180 {
    max-width: 180px;
}

.a-maxw-190 {
    max-width: 190px;
}

.a-maxw-200 {
    max-width: 200px;
}

.a-mh-10 {
    min-height: 10px;
}

.a-mh-20 {
    min-height: 20px;
}

.a-mh-30 {
    min-height: 30px;
}

.a-mh-40 {
    min-height: 40px;
}

.a-mh-50 {
    min-height: 50px;
}

.a-mh-60 {
    min-height: 60px;
}

.a-mh-70 {
    min-height: 70px;
}

.a-mh-80 {
    min-height: 80px;
}

.a-mh-90 {
    min-height: 90px;
}

.a-mh-100 {
    min-height: 100px;
}

.a-mh-110 {
    min-height: 110px;
}

.a-mh-120 {
    min-height: 120px;
}

.a-mh-130 {
    min-height: 130px;
}

.a-mh-140 {
    min-height: 140px;
}

.a-mh-150 {
    min-height: 150px;
}

.a-mh-160 {
    min-height: 160px;
}

.a-mh-170 {
    min-height: 170px;
}

.a-mh-180 {
    min-height: 180px;
}

.a-mh-190 {
    min-height: 190px;
}

.a-mh-200 {
    min-height: 200px;
}

.a-mh-210 {
    min-height: 210px;
}

.a-mh-220 {
    min-height: 220px;
}

.a-mh-230 {
    min-height: 230px;
}

.a-mh-240 {
    min-height: 240px;
}

.a-mh-250 {
    min-height: 250px;
}

.a-mh-260 {
    min-height: 260px;
}

.a-mh-270 {
    min-height: 270px;
}

.a-mh-280 {
    min-height: 280px;
}

.a-mh-290 {
    min-height: 290px;
}

.a-mh-300 {
    min-height: 300px;
}

.a-mh-310 {
    min-height: 310px;
}

.a-mh-320 {
    min-height: 320px;
}

.a-mh-330 {
    min-height: 330px;
}

.a-mh-340 {
    min-height: 340px;
}

.a-mh-350 {
    min-height: 350px;
}

.a-mh-360 {
    min-height: 360px;
}

.a-mh-370 {
    min-height: 370px;
}

.a-mh-380 {
    min-height: 380px;
}

.a-mh-390 {
    min-height: 390px;
}

.a-mh-400 {
    min-height: 400px;
}

.a-mh-410 {
    min-height: 410px;
}

.a-mh-420 {
    min-height: 420px;
}

.a-mh-430 {
    min-height: 430px;
}

.a-mh-440 {
    min-height: 440px;
}

.a-mh-450 {
    min-height: 450px;
}

.a-mh-460 {
    min-height: 460px;
}

.a-mh-470 {
    min-height: 470px;
}

.a-mh-480 {
    min-height: 480px;
}

.a-mh-490 {
    min-height: 490px;
}

.a-mh-500 {
    min-height: 500px;
}

.table-p-3 td,
th {
    padding: 1rem !important;
}

.pointer-event-none {
    pointer-events: none;
}

.a-fs-11 {
    font-size: 1.1rem;
}

.a-fs-12 {
    font-size: 1.2rem;
}

.a-fs-13 {
    font-size: 1.3rem;
}

.a-fs-14 {
    font-size: 1.4rem;
}

.a-fs-15 {
    font-size: 1.5rem;
}

.a-fs-16 {
    font-size: 1.6rem;
}

.a-fs-17 {
    font-size: 1.7rem;
}

.a-fs-18 {
    font-size: 1.8rem;
}

.a-fs-19 {
    font-size: 1.9rem;
}

.a-fs-20 {
    font-size: 2.0rem;
}

.a-fs-21 {
    font-size: 2.1rem;
}

.a-fs-22 {
    font-size: 2.2rem;
}

.a-fs-23 {
    font-size: 2.3rem;
}

.a-fs-24 {
    font-size: 2.4rem;
}

.a-fs-25 {
    font-size: 2.5rem;
}
